.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 10vh;
  padding-left: 2%;
  font-family: "Poppins";
  font-weight: 700;
}

.whiteTitleElement {
  font-size: 20px;
  color: #556070;
}

.orangeTitleElement {
  color: #a53dff;
}

.logoContainer {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
