.header{
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    height: 10vh;
    background-color: rgba(6, 6, 73, 0.883);

    .white-title-element{
        font-size:20px;
        color:white;
    }

    .orange-title-element{
        color:#ffa500;
    }
}



.logo-container{
    width: 30px;
    height: 30px;
    margin-right:10px;
}